html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: #02a75a98;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.squaresContainer {
    display: flex;
    flex-wrap: wrap;
    width: 514px;
    height: 514px;
    border: 2px solid black;
}

.square {
    border: 1px solid rgba(0, 0, 0, 0.295);
}

.square:hover {
    cursor: pointer;
    background: black;
}