html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: #02a75a98;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.squaresContainer {
    display: flex;
    flex-wrap: wrap;
    width: 514px;
    height: 514px;
    margin-bottom: 20px;
    border: 2px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.square {
    border: 1px solid rgba(0, 0, 0, 0.295);
}

.square:hover {
    cursor: pointer;
}

.buttonResize {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: white;
    background: rgb(42, 146, 42);
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
}

.buttonResize:hover {
    cursor: pointer;
    background: rgba(42, 146, 42, 0.733);
}